<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="mobile-web-app-capable" content="yes" />
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" style="overflow: hidden;">
  <body style="height: unset; background-color: unset; overflow: hidden;">
    <div id="gallery-container" class="background fade-in-animation" style="background-image: url('{{ .Site.BaseURL }}images/backgrounds/flowers-left.png'), url('{{ .Site.BaseURL }}images/backgrounds/flowers-right.png');">
      <div>
        {{ partial "nav.html" . }}
      </div>
      <div id="focused-gallery">
        <button id="zoom-close" onclick="zoomImg()">&#10005;</button>
        <button class="arrow" onclick="nextImg(-1)">&#10094;</button>
        <img id="current-img" class="fade-in-animation" src="{{ .Site.BaseURL }}images/gallery/1.jpg" onclick="zoomImg()"/>
        <button class="arrow" onclick="nextImg(1)">&#10095;</button>
      </div>

      <div id="gallery" class="fade-in-animation">
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/1.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/2.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/3.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/4.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/5.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/6.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/7.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/8.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/9.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/10.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/11.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/12.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/13.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/14.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/15.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/16.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/17.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/18.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/19.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/20.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/21.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/22.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/23.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/24.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/25.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/26.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/27.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/28.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/29.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/30.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/31.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/32.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/33.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/34.jpg"/>
        <img onclick="focusImg(this)" src="{{ .Site.BaseURL }}images/gallery/35.jpg"/>
      </div>
    </div>
  </body>
</html>

<script>
  const galleryImgs = document.getElementById('gallery').children;
  window.onload = focusImg(galleryImgs[0]);

  function focusImg(galleryImg) {
    const curFocusedImg = document.getElementById("current-img");
    curFocusedImg.src = galleryImg.src;
    galleryImg.scrollIntoView({ behavior: "smooth", inline: "center" });
    
    setGalleryFilter(galleryImg)
  }

  function nextImg(increment) {
    const curFocusedImg = document.getElementById("current-img");
    const galleryImgs = document.getElementById('gallery').children;
    let curGalleryImg;
    let curGalleryImgIndex;

    for (let index = 0; index < galleryImgs.length; index++) {
      img = galleryImgs[index];
      if (img.src == curFocusedImg.src) {
        curGalleryImg = img;
        curGalleryImgIndex = index;
        break;
      }
    }

    const incrementedImgIndex = curGalleryImgIndex + increment;
    if (incrementedImgIndex >= 0 && incrementedImgIndex <= (galleryImgs.length - 1)) {
      curFocusedImg.src = galleryImgs[incrementedImgIndex].src
      galleryImgs[incrementedImgIndex].scrollIntoView({ behavior: "smooth", inline: "center" });
      setGalleryFilter(galleryImgs[incrementedImgIndex])
    }
  }

  function setGalleryFilter(unfilteredImg) {
    const galleryImgs = document.getElementById('gallery').children;
    for (let index = 0; index < galleryImgs.length; index++) {
      galleryImgs[index].style.filter = "saturate(.2) opacity(.8)"
    }
    
    unfilteredImg.style.filter = "none"
  }

  function zoomImg() {
    const curImg = document.getElementById('current-img');
    const nav = document.getElementsByClassName('nav')[0]
    const arrows = Array.from(document.getElementsByClassName('arrow'))
    const zoomClose = document.getElementById('zoom-close');
    const galleryContainer = document.getElementById('gallery-container');

    if (window.getComputedStyle(zoomClose).display == 'none') {
      nav.style.display = "none";
      galleryContainer.style.marginTop = "0px"
      curImg.parentElement.classList.add('zoom');
      curImg.classList.add('zoom');
      arrows.forEach(element => {
        element.classList.add('zoom');
      });
      zoomClose.classList.add('active');
    } else {
      nav.style.display = "flex";
      galleryContainer.style.marginTop = "35px"
      curImg.parentElement.classList.remove('zoom');
      curImg.classList.remove('zoom');
      arrows.forEach(element => {
        element.classList.remove('zoom');
      });
      zoomClose.classList.remove('active');
    }
  }
</script>