<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" style="overflow: hidden;">
  <body style="overflow: hidden;">
  <div id="rsvp-content">
    <nav>
      {{ partial "nav.html" . }}
    </nav>

    <head>
        {{ partial "head-minimal.html" . }}
    </head>
    
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSckgypK5UFgeRdODmmiN0hLk3YULNMw_Bsoc4JLaJCWRGsWug/viewform" frameborder="0" marginheight="0" marginwidth="0" allow="frame-ancestors docs.google.com;">Loading…</iframe>
  </div>

</body>
</html>