@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
  font-family: "Belgiano Serif";
  src: url('../fonts/Belgiano Serif 2.ttf') format('truetype');
}

@font-face {
  font-family: "Calligraphy";
  src: url('../fonts/Calligraphy.otf') format('truetype');
}

@font-face {
  font-family: "Bodoni";
  src: url('../fonts/bodoni-mt-regular.ttf') format('truetype');
}

@font-face {
  font-family: "Chamberi Light Italic";
  src: url('../fonts/chamberi-display-light-italic.otf') format('truetype');
}

@font-face {
  font-family: "Chamberi Light";
  src: url('../fonts/ChamberiHeadline-Light.otf') format('truetype');
}

@font-face {
  font-family: "Chamberi Extra Light";
  src: url('../fonts/ChamberiHeadline-ExtraLight.otf') format('truetype');
}

@font-face {
  font-family: "Chamberi Regular";
  src: url('../fonts/ChamberiHeadline-Regular.otf') format('truetype');
}

:root {
  /*Spring*/
  --periwinkle: #bbb7e5;
  --misty-rose: #f7dfdf;
  --alice-blue: #dae9fa;
  --olivine: #b6c687;
  --lemon-chiffon: #f3edbd;

  /*Spring Light*/
  --periwinkle-light: #dcdaf2;
  --misty-rose-light: #fbeeee;
  --alice-blue-light: #ecf4fc;
  --olivine-light: #d9e1c0;
  --lemon-chiffon-light: #f9f6dd;

  /*Green Blue*/
  --reseda-green: #6a7a5a;
  --cambridge-blue: #8daf98;
  --ash-gray: #bed2ba;
  --ash-gray-2: #aac4bc;
  --ebony: #56694f;

  /*Green Blue Light*/
  --reseda-green-light: #9aaa8b;
  --cambridge-blue-light: #b1c9b9;
  --ash-gray-light: #d4e1d1;
  --ash-gray-2-light: #c6d7d2;
  --ebony-light: #89a080;

  /*Green Blue Dark*/
  --reseda-green-dark: #505c44;
  --cambridge-blue-dark: #618c6f;
  --ash-gray-dark: #86ab7f;
  --ash-gray-2-dark: #759f92;
  --ebony-dark: #404e3b;
}

.fa-hashtag {
  color: #cccccc;
  font-size: 19px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  container-type: inline-size;
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: rgba(243, 243, 243, 0.484);
  background-blend-mode: color-burn;
  background-size: 200%;
}

#header {
  background: #fafafa00;
}

#header-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(255 255 255 / 76%) 56%, rgba(255, 255, 255, 0) 83%);
  align-items: center;
  border-bottom: 9px solid #b3c7e052;
}

#header-content #logo {
  width: 165px;
  margin-top: 40px;
}

#sub-header {
  font-family: 'Chamberi Regular';
  color: #424242;
  font-size: 2.5vw;
  letter-spacing: 8px;
  margin: 5px 0px 2px 0px;
}

#sub-header-info {
  margin: 5px 0px;
  font-family: 'Chamberi Regular';
  letter-spacing: 6px;
  color: #424242;
  font-size: 1vw;
}

#rsvp-content {
  position: relative;
  text-align: center;
}

#rsvp-content #rsvp {
  width: 100px;
}

#rsvp-text {
  margin: 5px 0px 10px 0px;
  padding: 0px 13px 0px 20px;
  color: #505c44;
  font-family: 'Chamberi Light Italic';
  letter-spacing: 6px;
  border-top: #d4e1d1 1px solid;
  border-bottom: #d4e1d1 1px solid;
  font-size: 26px;
  line-height: 48px;
  height: 45px;
  transition: all 0.5s ease;
}

#rsvp-text:hover {
  color: #43523e;
  border-top: #43523e 1px solid;
  border-bottom: #43523e 1px solid;
  cursor: pointer;
}

#rsvp-text span {
  color: #bac5b1;
  transition: all 0.5s ease;
}

#rsvp-text:hover span {
  color: #43523e;
}

.nav {
  width: 100%;
  background: #bac5b1;
  padding: 7px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
}

.nav a {
  font-family: 'Bodoni';
  color: #43523e;
  text-decoration: none;
  padding: 0px 3%;
  transition: all 0.2s ease;
}

.nav a:hover {
  color: #ffffff;
}

#mobile {
  display: none;
}

#menu-icon {
  width: 18px;
  margin-left: 10px;
}

#menu-icon-active {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

@container (max-width: 500px) {
  #header-content #logo {
    width: 100px;
  }

  #sub-header {
    font-size: 4.5vw;
  }

  #sub-header-info {
    font-size: 2.5vw;
    letter-spacing: 4px;
  }

  #rsvp-text {
    font-size: 18px;
    line-height: 28px;
    height: 25px;
  }
  
  .nav {
    display: none;
  }

  #mobile {
    width: 100%;
    background: #9aaa8ba8;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

}

#main {
  background-color: #f3f3f3;
}

#main #main-image {
  width: 100%;
  display: block;
}

#main #img-overlay {
  position: absolute;
  top: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  color: #f1f1f1;
  width: 100%;
  height: 99%;
}

#story-header {
  font-family: "Calligraphy";
  text-align: center;
}

#rsvp-container {
  text-align: center;
  background-color: #f3f3f3;
}

/*
  OUR STORY STYLING
*/
#our-story-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: normal;
  align-items: center;
  margin-top: 2%;
}

#our-story-title {
  font-family: 'Chamberi Light Italic';
  padding: 30px 0px;
  color: #373737;
  font-size: 3.5vw;
  letter-spacing: 6px;
}

#timeline-content {
  width: 100%;
}

#timeline-start {
  border-bottom: 1px solid;
  border-image: linear-gradient(to left, white, #8daf98 50%, #ffffff 100%) 1 0;
  border-top: 1px solid;
  display: flex;
  flex-direction: column;
  padding: 10px 0px 10px 0px;
  width: 60%;
}

#timeline-start-text {
  font-family: 'Chamberi Light';
  color: #373737;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-size: 100%;
}

#timeline-date-text {
  font-family: serif;
  padding-bottom: 10px;
  color: #66808d;
  line-height: 1.5;
  letter-spacing: 2px;
}

#timeline-background {
  width: 80%;
}

#timeline-img-content {
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 200px;
  display: flex;
  margin: 0;
}

#timeline-grid {
  display: block;
  width: 100%;
  justify-items: center;
  align-items: center;
  justify-content: start;
  margin: 10px 0px 0px 0px;
}

#timeline-img {
  width: 13%;
  max-width: 305px;
  margin: 0px -5px;
  z-index: 1;
}

#timeline-text {
  font-size: 100%;
  width: 30%;
  max-width: 700px;
  font-family: 'Chamberi Light';
  color: #373737;
  line-height: 1.5;
  letter-spacing: 0.5px;
  background: #c9d6db;
  outline: 5px double #b3c7e0;
  padding: 12px 8px 8px 8px;
  border-radius: 10px;
  outline-offset: 6px;
  z-index: 1;
}

#timeline-spacer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

#spacer {
  font-family: serif;
  padding: 10px 60px;
  color: #66808d;
  line-height: 0.5;
  letter-spacing: 2px;
  border-bottom: 1px solid #abc2cd;
  background: #d4dacf;
}

#last-timeline {
  display: flex;
  background: #070707;
  padding: 10px 0px;
  margin-bottom: 0px;
  width: 100%;
  padding: 0px;
  justify-content: center;
  margin-top: 2%;
  align-items: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
}

#last-timeline-img {
  width: 45%;
  padding-right: 10%;
}

#last-timeline-text {
  font-size: 100%;
  padding: 0 12%;
}

#timer {
  display: grid;
  color: #f9f6dd;
  padding: 5% 0px;
  font-family: 'Chamberi Regular';
  letter-spacing: 5px;
  background: #3b3b3b7a;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  font-size: 24px;
  column-gap: 0;
}

#timer-separator {
  padding: 0px 5px;
}

@container (max-width: 500px) {
  #our-story-title {
    font-size: 6.5vw;
  }

  #timeline-start {
    width: 80%;
  }

  #timeline-start-text {
    font-size: 12.5px;
  }

  #timeline-img {
    width: 25%;
  }

  #timeline-text {
    font-size: 50%;
    outline-offset: 3px;
    outline: 3px double #b3c7e0;
  }

  #spacer {
    width: 25%;
    font-size: 1.2vh;
    white-space: nowrap;
    padding: 10px;
  }

  #last-timeline-text {
    font-size: 50%;
  }

  #timer-numbers {
    font-size: 12px;
    padding-left: 10%;
  }

  #timer {
    font-size: 10%;
  }
}

