@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
  font-family: "Belgiano Serif";
  src: url('../fonts/Belgiano Serif 2.ttf') format('truetype');
}

@font-face {
  font-family: "felixtowe-Italic";
  src: url('../fonts/felixtowe-Italic.ttf') format('truetype');
}

@font-face {
  font-family: "felixtowe-Regular";
  src: url('../fonts/felixtowe-Regular.ttf') format('truetype');
}


@font-face {
  font-family: "Cremtin";
  src: url('../fonts/Cremtin.otf') format('truetype');
}

@font-face {
  font-family: "Calligraphy";
  src: url('../fonts/Calligraphy.otf') format('truetype');
}

@font-face {
  font-family: "Bodoni";
  src: url('../fonts/bodoni-mt-regular.ttf') format('truetype');
}

@font-face {
  font-family: "Chamberi Light Italic";
  src: url('../fonts/chamberi-display-light-italic.otf') format('truetype');
}

@font-face {
  font-family: "Chamberi Light";
  src: url('../fonts/ChamberiHeadline-Light.otf') format('truetype');
}

@font-face {
  font-family: "Chamberi Extra Light";
  src: url('../fonts/ChamberiHeadline-ExtraLight.otf') format('truetype');
}

@font-face {
  font-family: "Chamberi Regular";
  src: url('../fonts/ChamberiHeadline-Regular.otf') format('truetype');
}

@font-face {
  font-family: "CrimsonText-Regular";
  src: url('../fonts/CrimsonText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "CrimsonText-SemiBold";
  src: url('../fonts/CrimsonText-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: "CrimsonText-Bold";
  src: url('../fonts/CrimsonText-Bold.ttf') format('truetype');
}

.fa-hashtag {
  color: #cccccc;
  font-size: 19px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: scroll;
}

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  container-type: inline-size;
  background: #f6f6f6;
}

.background {
  background-repeat: repeat-y, repeat-y;
  background-size: 18%;
  background-color: #f6f6f6;
  background-position: left 0, right 0;
}

#header {
  width: 100%;
}

#header-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background: radial-gradient(circle, #f6f6f6 0%, #f6f6f6c2 30%, #f6f6f600 83%);
  align-items: center;
  border-bottom: 9px solid #b3c7e052;
}

#header-content #logo {
  width: 97.78px;
  margin-top: 58px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;   
  }
}

.fade-in-animation {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1s;
  animation: fadeIn ease-in 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

#sub-header {
  font-family: 'Chamberi Regular';
  color: #373737;
  font-size: 4.5vmin; 
  letter-spacing: 8px;
  margin: 2px 0px 2px 0px;
}

#sub-header-info {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  margin: 5px 0px;
  font-family: 'Chamberi Regular';
  letter-spacing: 6px;
  color: #373737;
  font-size: 1vw;
}

#rsvp-container {
  position: relative;
  text-align: center;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

#rsvp-container #rsvp {
  width: 100px;
}

#rsvp-text {
  margin: 5px 0px 10px 0px;
  padding: 0px 15px 0px 20px;
  color: #505c44;
  font-family: 'Chamberi Light Italic';
  letter-spacing: 6px;
  border-top: #d4e1d1 1px solid;
  border-bottom: #d4e1d1 1px solid;
  font-size: 26px;
  line-height: 48px;
  height: 45px;
  transition: all 0.5s ease;
}

#rsvp-container a {
  text-decoration: none;
  color: #505c44;
}

#rsvp-text:hover {
  color: #505c44;
  border-top: #505c44 1px solid;
  border-bottom: #505c44 1px solid;
  cursor: pointer;
}

#rsvp-text span {
  color: #bac5b1;
  transition: all 0.5s ease;
}

#rsvp-text:hover span {
  color: #717563;
}

.nav {
  top: 0;
  width: 100%;
  background: #c4cdbd;
  padding: 9px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  max-height: 38px;
  overflow: hidden;
}

.nav a {
  font-family: 'CrimsonText-SemiBold';
  color: #505956;
  text-decoration: none;
  padding: 0px 2%;
  letter-spacing: 2px;
  font-size: 2vmin;
  text-wrap-mode: nowrap;
}

.nav-current {
  color: #c4cdbd;
  transition: 0.3s;
  font-size: 10px;
  vertical-align: 1px;
}

.nav a:hover {
  color: #373737;
}

.nav a:hover .nav-current {
  color: #373737;
}

#mobile {
  display: none;
}

#menu-icon {
  width: 25px;
  margin-left: 10px;
}

#content {
  height: 500px;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

#nav-accent {
  width: 20%;
}

@container (min-width: 800px) {
  #rsvp-text {
    font-size: 18px;
    line-height: 28px;
    height: 25px;
  }
}

@container (max-width: 800px) {
  #header-content #logo {
    width: 100px;
  }

  #sub-header-info {
    font-size: 10px;
    letter-spacing: 4px;
  }

  #rsvp-text {
    font-size: 18px;
    line-height: 28px;
    height: 25px;
  }
  
  .nav {
    background: #e8ecee;
    height: 100vh;
    position: fixed;
    z-index: 98;
    top: 0;
    max-height: none;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px 1%;
    display: none;
    box-shadow: 3px 0 20px 0 #00000047;
    width: max-content;
    border-right: 9px solid #d9e2e5;
    border-left: 9px solid #d9e2e5;
  }

  .nav a {
    font-family: 'CrimsonText-SemiBold';
    color: #52676f;
    text-decoration: none;
    margin: 3% 0px;
    padding: 8px;
    letter-spacing: 2px;
    font-size: 15px;
    text-wrap-mode: nowrap;
  }
  
  .nav-current {
    color: #52676f;
    transition: 0.3s;
    font-size: 10px;
    vertical-align: 1px;
  }
  
  .nav a:hover {
    color: #52676f;
  }
  
  .nav a:hover .nav-current {
    color: #52676f;
  }

  #mobile {
    top: 0;
    width: 100%;
    background: #c4cdbd;
    padding: 7px 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: fixed;
    z-index: 99;
    max-height: 38px;
    overflow: hidden;
  }


}

@keyframes fadeInImg {
  from {
    filter: blur(2px);
    opacity: 0;
  }
  to {
    filter: blur(0px);
    opacity: 1;
  }
}

#main-image {
  content: url('../images/personal/K _2b S-158.jpg');
  width: 100%;
  display: block;
  filter: blur(2px);
  opacity: 0;
  -webkit-animation: fadeInImg ease-in 1s;
  animation: fadeInImg ease-in 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

#main #img-overlay {
  position: absolute;
  top: 0;
  color: #f1f1f1;
  width: 100%;
  height: 99%;
}

#story-header {
  font-family: "Calligraphy";
  text-align: center;
}

/*
  GALLERY STYLING 
*/ 

#gallery-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(243 243 243 / 67%);
  margin-top: 38px;
}

#focused-gallery {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  transition: 0.3s;
}

.zoom#focused-gallery {
  position: fixed;
  z-index: 99;
  background: #2d3034e6;
  margin-top: 0;
  overflow: auto;
}

.arrow {
  width: 50px;
  height: 68px;
  margin: auto 32px;
  opacity: 70%;
  font-size: 50px;
  color: #505956;
  transition: 250ms 50ms;
  background: unset;
  border: unset;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.zoom.arrow {
  color: white;
}

.arrow:hover {
  opacity: 100%;
  cursor: pointer;
}

#focused-gallery #current-img {
  height: 75.5vh;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: 0.3s;
}

#focused-gallery .zoom#current-img {
  height: unset;
}

#focused-gallery .zoom#current-img:hover {
  cursor: zoom-out;
}

#focused-gallery #current-img:hover {
  cursor: zoom-in;
}

#zoom-close {
  display: none;
}

.active#zoom-close {
  display: inherit;
  position: fixed;
  right: 0;
  padding: 3px 10px;
  margin: 10px;
  font-size: 25px;
  background: none;
  border: none;
  font-weight: 600;
  color: white;
  opacity: 70%;
}

.active#zoom-close:hover {
  opacity: 100%;
  cursor: pointer;
}

/* #gallery::-webkit-scrollbar {
  display: none;
} */

#gallery {
  display: flex;
  flex: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: 10px;
  width: 100%;
  overflow-x: scroll;
  flex-direction: row;
  align-items: center;
  position: fixed;
  bottom: 0;
  background: #b3c7e082;
  --sb-track-color: #f9f9f9;
  --sb-thumb-color: #8b8b8b;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}


#gallery::-webkit-scrollbar {
  scrollbar-width: thin;
}

#gallery::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

#gallery::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
  #gallery {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

@container (max-width: 800px) {
  #gallery-container {
    background-image: none !important;
  }

  #focused-gallery {
    display: none;
  }

  #gallery {
    position: static;
    flex-direction: column;
    grid-gap: 5px;
    padding: 0px 1%;
    background-color: white;
    overflow-x: unset;
    overflow-y: scroll;
    width: 98%;
    
    img {
      cursor: auto !important;
      filter: none !important;
      height: unset;
      width: 100%;
      padding: 0;
    }

    img:hover {
      cursor: auto !important;
      filter: none !important;
    }
  }
}

/* 
  RSVP STYLING
*/

#rsvp-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#rsvp-iframe {
  width: 100%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

/*
  OUR STORY STYLING
*/
#our-story-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: normal;
  align-items: center;
}

#our-story {
  font-family: 'Chamberi Light Italic';
  padding: 30px 0px;
  color: #373737;
  font-size: 40px;
  letter-spacing: 6px;
  scroll-margin-top: 30px;
}

#timeline-content {
  width: 100%;
}

#timeline-date-text {
  font-family: 'bondi';
  padding-bottom: 10px;
  color: #505956;
  line-height: 1.5;
  letter-spacing: 5px;
}

#timeline-background {
  width: 80%;
}

#timeline-img-content {
  background-color: #f6f6f6;
  background-repeat: repeat-y;
  background-position-x: center;
  background-size: 500px;
  display: flex;
  margin: 0;
}

#timeline-grid {
  display: block;
  width: 100%;
  justify-items: center;
  align-items: center;
  justify-content: start;
}

.timeline-img-div-border {
  background-color: #ecf1f7;
  mask: radial-gradient(20px at 40px 40px, transparent 98%, black) -40px -39px;
  padding: 7px 7px 0px 7px;
}

.timeline-img {
  width: 140px;
  opacity: 100%;
}

.timeline-img-div {
  mask: radial-gradient(21px at 40px 40px, transparent 98%, black) -40px -42px;
}

#timeline-text {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  width: 80%;
  font-family: 'Chamberi Light';
  color: #373737;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-size: 100%;
  transition: 0.3s;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.timeline-text-reverse {
  flex-direction: row-reverse !important;
}

#timeline-text-spacer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

#timeline-spacer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  border-image: linear-gradient(to left, #f6f6f6, #bac5b1 50%, #f6f6f6 100%) 1 0;
  border-top: 1px solid;
  margin-bottom: 31px;
  min-height: 150px;
  background: #f6f6f6ab;
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;
  animation: linear reveal both;
  animation-timeline: --revealing-image;
  animation-range: entry 20% cover 35%;
}

@keyframes reveal {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.timeline-spacer-start {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-spacer-left {
  flex-direction: row;
}

.timeline-spacer-right {
  flex-direction: row-reverse;
}

#spacer {
  font-family: serif;
  color: #66808d;
  letter-spacing: 2px;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
  display: flex;
  align-items: center;
}

.spacer-left {
  justify-content: flex-end;
}

.spacer-right {
  justify-content: flex-start;
}

#last-timeline {
  display: flex;
  padding: 10px 0px;
  margin-bottom: 0px;
  width: 100%;
  padding: 0px;
  justify-content: center;
  margin-top: 2%;
  align-items: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  outline: 9px solid #b3c7e052;
  padding-bottom: 55px;
}

#timer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#last-timeline-img {
  width: 45%;
  padding-right: 10%;
}

#last-timeline-text {
  font-size: 100%;
  padding: 0 12%;
}

#timer {
  display: grid;
  color: #ffffff;
  padding: 25px 0;
  font-family: 'CrimsonText-Regular';
  letter-spacing: 5px;
  background: #b3c7e052;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  font-size: 24px;
  column-gap: 50px;
  justify-items: center;
  justify-content: space-evenly;
  text-shadow: 2px 2px 4px #000000;
}

#timer-separator {
  padding: 0px 5px;
}


#timer-header {
  color: white;
  font-family: 'Chamberi Light Italic';
  padding: 55px 0px 30px 0px;
  font-size: 5vmin;
  letter-spacing: 6px;
  text-shadow: 2px 2px 4px #000000;
}

@container (max-width: 800px) { 
  #timeline-text {
    font-size: 80%;
    width: 100%;
    padding: 10px 1%;
  }

  .timeline-img {
    width: 120px;
    opacity: 100%;
  }

  #timer {
    letter-spacing: 3px;
    width: 100%;
    font-size: 100%;
    column-gap: 5%;
  }
/* 
  #timeline-start {
    width: 80%;
  }

  #timeline-start-text {
    font-size: 12.5px;
  }

  .timeline-img {
    width: 25%;
  }



  #spacer {
    width: 25%;
    font-size: 1.2vh;
    white-space: nowrap;
    padding: 10px;
  }

  #last-timeline-text {
    font-size: 50%;
  }

  #timer-numbers {
    font-size: 12px;
    padding-left: 10%;
  }

  #timer {
    font-size: 10%;
    column-gap: 20px;
  }

  #timer-header {
    margin: 7px 0px;
    color: white;
    padding: 5px 0px;
  } */
}

/*
  FAQ STYLING
*/

#faq-content {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: repeat-y, repeat-y;
  background-size: 18%;
  background-position: left 0, right 0;
  padding-bottom: 20px;
}

#faq-title {
  font-family: 'Chamberi Light Italic';
  padding-top: 20px;
  color: #373737;
  font-size: 40px;
  letter-spacing: 6px;
  scroll-margin-top: 20px;
  width: 60%;
  text-align: center;
  border-bottom: 1px solid;
  border-image: linear-gradient(to left, #f6f6f600, #bac5b1 50%, #f6f6f600 100%) 1 0;
}

#faq-container {
  width: 60%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  font-family: 'Chamberi Light';
}

#faq-question {
  font-family: 'Chamberi Regular';
  font-size: 17px;
  text-align: center;
  margin-bottom: 0;
}

#faq-answer {
  text-align: center;
}

#faq-answer a {
  text-decoration: none;
  font-weight: bold;
  color: #505956;
}

#faq-answer a:hover {
  color: #373737;
}

@container (max-width: 800px) {
  #faq-container {
    width: 80%;
  }
}


/*
  TRAVEL STYLING
*/

#travel-content {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: repeat-y, repeat-y;
  background-size: 18%;
  background-position: left 0, right 0;
  padding-bottom: 20px;
}

#travel-title {
  font-family: 'Chamberi Light Italic';
  padding: 20px 0px 10px 0px;
  color: #373737;
  font-size: 40px;
  letter-spacing: 6px;
  scroll-margin-top: 20px;
  text-align: center;
  border-bottom: 1px solid;
  border-image: linear-gradient(to left, #f6f6f600, #bac5b1 50%, #f6f6f600 100%) 1 0;
  width: 100%;
}

#venue-accent-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
}

#venue-description {
  font-family: 'Chamberi Light';
  color: #373737;
  line-height: 1.5;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 100%;
}

#venue-description a {
  text-decoration: none;
  color: #637b9c;
}

#accent-flower {
  width: 90px;
  display: block;
  object-position: left;
  object-fit: cover;
}

#venue-directions {
  margin: 5px 0px 10px 0px;
  padding-top: 20px;
  color: #505c44;
  font-family: 'Chamberi Light Italic';
  letter-spacing: 6px;
  transition: all 0.5s ease;
  margin: 0;
  display: block;
  text-align: center;
}

#group-code {
  margin: 0 0 10px 0;
  font-family: 'Chamberi Regular';
  letter-spacing: 1px;
  line-height: 1;
}

#venue-directions:hover {
  color: #505c44;
  cursor: pointer;
}

#venue-directions a {
  color: #505c44;
  text-decoration: none;
}

#venue-directions:hover a {
  color: #717563;
}

.travel-img-containers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.travel-img-container {
  margin: 25px 3%;
  outline: 3px solid #dee5e8;
  outline-offset: 6px;
}

#travel-img {
  height: 150px;
  width: 150px;
  display: block;
  margin: auto;
  object-position: left;
  object-fit: cover;
}

.accommodation-containers {
  display: flex;
}

.accommodation-img-containers {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.accommodation-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#accommodation-img {
  height: 150px;
  width: 150px;
  display: block;
  object-fit: cover;
  outline: 3px solid #dee5e8;
  outline-offset: 6px;
}

#accomodation-text {
  font-family: 'Chamberi Regular';
  text-align: center;
  padding: 0;
}

@container (max-width: 800px) {
  .accommodation-containers {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .accommodation-img-containers {
    padding: 0;
  }
}
