<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

<div id="header">
  <div id="header-content">
    <a href="{{ .Site.BaseURL }}">
      <img id="logo" src="{{ .Site.BaseURL }}{{ .Site.Params.logos.header }}" alt="logo {{ .Site.Title }}">
    </a>
  
    <p id="sub-header">
      SPENCER & KRISTIN
    </p>
  
    <p id="sub-header-info">
      JULY 12, 2025 • COLUMBUS, OHIO
    </p>

    <div id="rsvp-content">
      <a href="{{ .Site.BaseURL }}rsvp">
        <div id="rsvp-text">
            <span>♦ </span>RSVP<span> ♦</span>
        </div>
      </a>
    </div>
  </div>
</div>