<div id="header">
  <div id="header-content">
    <a href="{{ .Site.BaseURL }}">
      <img id="logo" src="{{ .Site.BaseURL }}{{ .Site.Params.logos.header }}" alt="logo {{ .Site.Title }}" class="fade-in-animation">
    </a>
  
    <p id="sub-header" class="fade-in-animation">
      SPENCER & KRISTIN
    </p>
  
    <p id="sub-header-info" class="fade-in-animation">
      JULY 12, 2025 • COLUMBUS, OHIO
    </p>

    <div id="rsvp-container" class="fade-in-animation">
      <a href="{{ .Site.BaseURL }}rsvp">
        <div id="rsvp-text">
            <span>♦&#xFE0E; </span>RSVP<span> ♦&#xFE0E;</span>
        </div>
      </a>
    </div>
  </div>
</div>