<div class="nav" >
  <a href="{{ .Site.BaseURL }}"><span class="nav-current">♦&#xFE0E;</span> Home <span class="nav-current">♦&#xFE0E;</span></a>
  <a href="{{ .Site.BaseURL }}our-story"><span class="nav-current">♦&#xFE0E;</span> Our Story <span class="nav-current">♦&#xFE0E;</span></a>
  <a href="{{ .Site.BaseURL }}gallery"><span class="nav-current">♦&#xFE0E;</span> Gallery <span class="nav-current">♦&#xFE0E;</span></a>
  <a href="{{ .Site.BaseURL }}rsvp"><span class="nav-current">♦&#xFE0E;</span> RSVP <span class="nav-current">♦&#xFE0E;</span></a>
  <a href="{{ .Site.BaseURL }}travel"><span class="nav-current">♦&#xFE0E;</span> Travel <span class="nav-current">♦&#xFE0E;</span></a>
  <a href="{{ .Site.BaseURL }}faq"><span class="nav-current">♦&#xFE0E;</span> What to Know <span class="nav-current">♦&#xFE0E;</span></a>
  <a href="https://registry.theknot.com/kristin-adams-spencer-king-january-2026-oh/69459456" target="_blank"><span class="nav-current">♦&#xFE0E;</span> Registry <span class="nav-current">♦&#xFE0E;</span></a>
</div>

<div id="mobile">
  <img id="menu-icon" src="{{ .Site.BaseURL }}{{ .Site.Params.accents.menu }}" alt="logo {{ .Site.Title }}" onclick="displayNav()">
</div>

<script>
  function displayNav() {
    const nav = document.getElementsByClassName('nav')[0];
    const body = document.body;

    if (nav.style.display == "none" || nav.style.display == "") {
      nav.style.display = "flex";
      body.style.overflow = "hidden"
    } else {
      nav.style.display = "none";
      body.style.overflow = "";
    }
    
  }

</script>